<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>jQuery Slot Machine</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../dist/jquery.slotmachine.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">


    <style>
      h1 {
        font-family: 'Poppins', sans-serif;
      }

      body {
        background-color: black;
      }
      </style>
  </head>

  <body>
    <div class="container">
      <div class="card" style="border-color: rgb(251 189 24 / 40%);background-color: black;">
        <div class="card-body">
          <div id="randomize">
            <div class="container">
              <h1 style="color:white">Vegas Coin Slot Machine</h1>
         

              <div class="row">
                <div class="col-sm-4">
                  <div>
                    <div id="machine1" class="randomizeMachine">    
                        <% for(var i=0; i < randoms1.length; i++) { %>

                          <% if(i === 0) { %>
                            <div style="margin-top:5px">
                              <img src="img/AirDrop.png" width="100%"/>     
                            </div>
  
                          <% } else if(i===1) { %>
                            <div style="margin-top:5px">
                              <img src="img/Burn.png" width="100%"/>
                              <!-- <h1><%= randoms2[i] %></h1> -->
                            </div>
                          <% } else { %>
                            <div style="margin-top:5px">
                              <img src="img/Mint.png" width="100%"/>
                              <!-- <h1><%= randoms3[i] %></h1> -->
                            </div>
                          <% } %>
                         

                        <% } %>
                    </div>
                  </div>
                  <div id="machine1Result" class="col-xs-4 machineResult">Index: 0</div>
                  <% for(var i=0; i < randoms1.length; i++) { %>
                      <input type="hidden" id="random1Result<%=i%>" value="<%= randoms1[i] %>">
                  <% } %>
                </div>
      
                <div class="col-sm-4">
                  <div>
                    <div id="machine2" class="randomizeMachine">
                      <% for(var i=0; i < randoms2.length; i++) { %>

                        <% if (i === 0) { %>
                            <div style="margin-top:5px">
                              <img src="img/AirDrop.png" width="100%"/>     
                            </div>
  
                          <% } else if (i===1) { %>
                            <div style="margin-top:5px">
                              <img src="img/Burn.png" width="100%"/>
                              <!-- <h1><%= randoms2[i] %></h1> -->
                            </div>
                          <% } else { %>
                            <div style="margin-top:5px">
                              <img src="img/Mint.png" width="100%"/>
                              <!-- <h1><%= randoms3[i] %></h1> -->
                            </div>
                          <% } %>

                      <% } %>
     
                    </div>
                  </div>
                  <div id="machine2Result" class="col-xs-4 machineResult">Index: 1</div>
                  <% for (var i=0; i < randoms2.length; i++) { %>
                      <input type="hidden" id="random2Result<%=i%>" value="<%= randoms2[i] %>">
                  <% } %>
                </div>
      
                <div class="col-sm-4">
                  <div>
                    <div id="machine3" class="randomizeMachine">
                      <% for(var i=0; i < randoms3.length; i++) { %>

                        <% if(i === 0) { %>
                          <div style="margin-top:5px">
                            <img src="img/AirDrop.png" width="100%"/>     
                          </div>

                        <% } else if(i===1) { %>
                          <div style="margin-top:5px">
                            <img src="img/Burn.png" width="100%"/>
                            <!-- <h1><%= randoms2[i] %></h1> -->
                          </div>
                        <% } else { %>
                          <div style="margin-top:5px">
                            <img src="img/Mint.png" width="100%"/>
                          </div>
                        <% } %>

                      <% } %>
 
                    </div>
                  </div>
                  <div id="machine3Result" class="col-xs-4 machineResult">Index: 2</div>
                  <% for(var i=0; i < randoms3.length; i++) { %>
                      <input type="hidden" id="random3Result<%=i%>" value="<%= randoms3[i] %>">
                  <% } %>
                </div>
              
                <div class="btn-group btn-group-justified" role="group">
                  <button id="randomizeButton" type="button" class="btn btn-danger btn-lg">Shuffle</button>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <pre><code id="codeBlock2"></code></pre>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      
    </div>


  </body>
</html>
